.termsAndcondition {
    width: 100%;
}
.termsAndcondition .utility{
    display: block;
}
.termsAndcondition .termsAndcondition_main {
    padding-bottom: 181px;
    width: 100%;
    max-width: 1436px;
    margin: 0 auto;
}
.termsAndcondition .termsAndconditionContent p {
    font-size: 17px;
    line-height: 28px;
    font-family: 'Montserrat-Medium';
    padding-bottom: 40px;
}
.termsAndcondition .termsAndconditionContent p:last-child{
    padding-bottom: 0;
}
@media only screen and (max-width: 1024px) {
    .termsAndcondition .termsAndcondition_main {
        width: 100%;
        padding-bottom: 100px;
    }
    .utility h1 {
        padding-bottom: 40px;
    }
    .termsAndcondition .termsAndconditionContent p {
        font-size: 15px;
        padding-bottom: 35px;
    }
}
@media only screen and (max-width: 766px) {
       .termsAndcondition .termsAndcondition_main {
        padding-bottom: 25px;
    }
    .termsAndcondition .termsAndconditionContent p {
        font-size: 12px;
        line-height: 20px;
        padding-bottom: 25px;
    }
}